:root {
  --endurance: #0072b2;
  --ga: #0094e4;
  --recovery: #00a1f7;
  --interval: #e69f00;
  --race: #d55e00;
  --repetition: #f0e442;
  --threshold: #009e73;
  --cv: #5afff2;
  --not-a-run: #dddddd;
  --m-pace: #63ff7a;
  --2mmol: #a0ffc6;
}
body {
  font-family: Ubuntu, sans-serif;
}
div.workout-endurance {
  background-color: var(--endurance);
}
div.workout-ga {
  background-color: var(--ga);
}
div.workout-interval,
div.workout-vo2max {
  background-color: var(--interval);
}
div.workout-race {
  background-color: var(--race);
  border: solid 3px gold;
}
div.workout-recovery,
div.workout-warmup,
div.workout-cooldown {
  background-color: var(--recovery);
}
div.workout-repetition,
div.workout-speed {
  background-color: var(--repetition);
}
div.workout-threshold,
div.workout-tempo {
  background-color: var(--threshold);
}
div.workout-cv {
  background-color: var(--cv);
}
div.workout-m-pace {
  background-color: var(--m-pace);
}
div.workout-2mmol {
  background-color: var(--2mmol);
}
div.workout-not-a-run {
  background-color: var(--not-a-run);
}
div.workout-excuse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  color: lightgrey;
  text-align: center;
  font-style: italic;
}
div.week {
  display: grid;
  grid-template-areas:
    "when day-0 day-1 day-2 day-3 day-4 day-5 day-6"
    "total-distance day-0 day-1 day-2 day-3 day-4 day-5 day-6"
    "total-time day-0 day-1 day-2 day-3 day-4 day-5 day-6"
    "total-biking day-0 day-1 day-2 day-3 day-4 day-5 day-6"
    "total-walking day-0 day-1 day-2 day-3 day-4 day-5 day-6"
    "total-swimming day-0 day-1 day-2 day-3 day-4 day-5 day-6"
    "total-elliptical day-0 day-1 day-2 day-3 day-4 day-5 day-6";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: 1px solid lightgrey;
}
@media (max-width: 1000px) {
  div.week {
    grid-template:
      "when total-distance total-time total-biking total-walking total-swimming total-elliptical"
      "day-0 day-1 day-2 day-3 day-4 day-5 day-6"
      / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  div.week {
    grid-template:
      "when total-distance total-time total-time"
      "total-biking total-walking total-swimming total-elliptical"
      "day-6 day-6 day-6 day-6"
      "day-5 day-5 day-5 day-5"
      "day-4 day-4 day-4 day-4"
      "day-3 day-3 day-3 day-3"
      "day-2 day-2 day-2 day-2"
      "day-1 day-1 day-1 day-1"
      "day-0 day-0 day-0 day-0";
  }
}
div.week time.when {
  grid-area: when;
  margin: auto 0;
}
div.week p.total-time {
  grid-area: total-time;
  margin: auto 0;
}
div.week p.total-biking {
  grid-area: total-biking;
  margin: auto 0;
  font-size: 0.8em;
}
div.week p.total-biking::before {
  content: "🚴 ";
}
div.week p.total-walking {
  grid-area: total-walking;
  margin: auto 0;
  font-size: 0.8em;
}
div.week p.total-walking::before {
  content: "🚶 ";
}
div.week p.total-swimming {
  grid-area: total-swimming;
  margin: auto 0;
  font-size: 0.8em;
}
div.week p.total-swimming::before {
  content: "🏊 ";
}
div.week p.total-elliptical {
  grid-area: total-elliptical;
  margin: auto 0;
  font-size: 0.8em;
}
div.week p.total-elliptical::before {
  content: "E ";
}
div.week p.total-distance {
  grid-area: total-distance;
  font-size: 1.5em;
  font-weight: bold;
  margin: auto 0;
}
div.week div.day-0 {
  grid-area: day-0;
}
div.week div.day-1 {
  grid-area: day-1;
}
div.week div.day-2 {
  grid-area: day-2;
}
div.week div.day-3 {
  grid-area: day-3;
}
div.week div.day-4 {
  grid-area: day-4;
}
div.week div.day-5 {
  grid-area: day-5;
}
div.week div.day-6 {
  grid-area: day-6;
}
div.day p.distance {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}
div.day p.activity {
  margin-top: 0px;
  margin-bottom: 0px;
}
p.activity.other {
  font-size: 0.8em;
}
